.labelingContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    gap: 1em;
    padding: 0.5em;
    height: 72px;
}

.staticContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-items: center;
    gap: 1em;
    padding: 0.5em;
}